.App__item {
    display: grid;
    grid-template-areas:
        "header header"
        "navbar main"
        "footer footer"
;
    grid-template-rows: 60px 1fr;
    grid-template-columns: auto;
    grid-gap: 10px;
    padding: 20px 30px;
}

.app__wrapper-content {
    grid-area: main;
}