.App__item {
    display: grid;
    grid-template-areas:
        "header header"
        "navbar main"
;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    margin: 20px auto;
    width: 1400px;

}

.app__wrapper-content {
    grid-area: main;
}